.about-container {
  display: flex;
  padding: 20px;
  gap: 20px;
  background: #fff;
}

/* LEFT SIDEBAR */
.sidebar {
  width: 250px;
  background: white;
  border-right: 1px solid #eaeaea;
  padding: 20px;
  position: sticky;
  top: 20px;
  height: max-content;
}

.sidebar-item {
  font-size: 18px;
  font-weight: 600;
  padding: 10px 0;
  cursor: pointer;
}

.sidebar-title {
  margin: 20px 0 10px;
  font-weight: 700;
}

.sidebar-accordion {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.accordion-body {
  margin-top: 5px;
  font-size: 14px;
  color: #666;
}

.view-all {
  margin-top: 15px;
  font-weight: 700;
  color: #007bff;
  cursor: pointer;
}

/* RIGHT MAIN SECTION */
.about-main {
  flex: 1;
  padding: 10px;
}

.section-title {
  font-size: 24px;
  margin-bottom: 15px;
}

/* PRODUCT SLIDER */
.horizontal-slider {
  display: flex;
  overflow-x: auto;
  gap: 18px;
  padding-bottom: 15px;
}

.horizontal-slider::-webkit-scrollbar {
  height: 6px;
}

.horizontal-slider::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.product-card {
  min-width: 220px;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.product-card img {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

.product-card h4 {
  margin: 10px 0 5px;
}

/* COMPANY DETAILS */
.company-details {
  margin: 35px 0;
}

/* ALBUM */
.album-card {
  min-width: 280px;
  height: 200px;
}

.album-card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* FACTSHEET */
.factsheet {
  margin-top: 40px;
}

.factsheet table td {
  padding: 10px 18px;
  border-bottom: 1px solid #eee;
  font-size: 16px;
}
